.mt20 {
    margin-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.w400 {
    width: 400px;
}
textarea, .say {
    width: 100%;
}
.chat-window {
    height: 86%;
    border-radius: 5px;
    border: 1px solid grey;
    margin-bottom: 10px;
    padding: 5px;
    text-align: left;
}
.alert-warning {
    width: 100% !important;
    text-align: left !important;
    display: inline-block;
}
#lot-list {
    height: 500px;
    overflow: scroll;
}
#base_block {
    margin-top: 200px;
    width: 80%;
}
.auth-block {
    text-align: left!important;
}
.isDisabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.9;
}
