{% extends "base.html" %}
{% block content %}
{% if redirect %}
    <script>
        window.location.href = '/';
    </script>
{% endif %}
<form method="post">
    <div class="form-group">
        {% for error in form.password.errors %}
        <li style="color: red;">{{ error }} </li>
        {% endfor %}
        <label for="username">Username</label>
        {{ form.username(class_='form-control') }}
    </div>
    <div class="form-group">
        <label for="password">Password</label>
       {{ form.password(class_='form-control') }}
    </div>
    <button type="submit" class="btn btn-primary mt20">Submit</button>
    <a href="/registration" class="btn btn-primary mt20" role="button">Registration</a>
</form>
{% endblock content %}
