{% extends "base.html" %}
{% block content %}

{% if lot.status == 'closed' %}
    <script>
        window.location.href = '/';
    </script>
{% endif %}

<a href="/" class="btn btn-primary mt20 mb20" style="width: 100%;" role="button">Main</a>
<div class="lot-window">
    <div class="row">
        <div class="col-md-2">
            <div>Lot: </div>
        </div>
        <div class="col-md-1">
            <div id="lot_name">{{ lot.name }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div>Creator: </div>
        </div>
        <div class="col-md-1">
            <div id="lot-creator">{{ lot.creator }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div>Start Price: </div>
        </div>
        <div class="col-md-1">
            <div id="lot_start_price">{{ lot.start_price }}</div>
        </div>
    </div>
    {% if lot.price_up %}
    <div class="row">
        <div class="col-md-2">
            <div>Price Up: </div>
        </div>
        <div class="col-md-1">
            <div id="lot_price_up">{{ lot.price_up }}</div>
        </div>
        <div class="col-md-1">
            <div>by user: </div>
        </div>
        <div class="col-md-1">
            <div id="by_user">{{ lot.by_user }}</div>
        </div>
    </div>
    {% endif %}
</div>
<div>
     <div class="row">
        <div class="col-md-2">
            <input type="number" id="price_up" class="mt20 form-control">
        </div>
        <div class="col-md-7">
            <button type="submit" class="btn btn-dark mt20" id="up" style="width: 100%;">Up</button>
        </div>
        <div class="col-md-3">
            {% if lot.creator == creator %}
            <button class="btn btn-success mt20" id="close_auction_btn" style="width: 100%;">Close Lot</button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
