{% extends "base.html" %}
{% block content %}

{% if not disabled %}
    <p id="auth_status" hidden>logged</p>
{% endif %}

<div class="row">
    <div class="col-md-12 auth-block">
        <a href="/registration" class="btn btn-primary" role="button">Registration</a>
        <a href="/login" class="btn btn-primary" role="button">Login</a>
    </div>
</div>
<div class="row mt20">
     <div class="col-md-6">
         <div class="form-group">
             <label for="new_lot_name">Lot Name</label>
             <input type="text" id="new_lot_name" class="form-control" {{disabled}}>
         </div>
     </div>
    <div class="col-md-3">
         <div class="form-group">
             <label for="new_lot_start_price">Start Price</label>
             <input type="number" id="new_lot_start_price" class="form-control" {{disabled}}>
         </div>
     </div>
     <div class="col-md-3">
         <button class="btn btn-success mt20 mb20" id="add_lot_btn" style="width: 100%;" {{disabled}}>Add Lot</button>
     </div>
</div>
<div class="row">
    <div class="col-md-12" id="lot-list">
        {% for lot in lots %}
            <a href="/lot/{{lot._id}}" class="alert alert-warning {% if disabled %} isDisabled {% endif %}" id="{{lot._id}}" role="alert">Lot: {{lot.name}},
                Start Price: {{lot.start_price}}{% if lot.price_up %}, Price Up: {{ lot.price_up }} by user: {{ lot.by_user }}{% endif %}
            </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}
