{% extends "base.html" %}
{% block content %}

{% if redirect %}
    <script>
        window.location.href = '/';
    </script>
{% endif %}

<form method="post">
    <div class="form-group">
        {% for error in form.username.errors %}
        <li style="color: red;">{{ error }} </li>
        {% endfor %}
        <label for="username">Username</label>
        {{ form.username(class_='form-control') }}
    </div>
    <div class="form-group">
        <label for="password">Password</label>
       {{ form.password(class_='form-control') }}
    </div>
    <div class="form-group">
        {% for error in form.password_confirm.errors %}
        <li style="color: red;">{{ error }} </li>
        {% endfor %}
        <label for="password_confirm">Password Confirm</label>
       {{ form.password_confirm(class_='form-control') }}
    </div>
    <button type="submit" class="btn btn-primary mt20">Submit</button>
    <a href="/" class="btn btn-primary mt20" role="button">Main</a>
</form>
{% endblock content %}